body{
    height: 1000px;
    background: linear-gradient(130deg, #71b7e6, #9b59b6 );
    background-repeat: no-repeat;
    background-size: cover;
}
/* main{
    width: 400px;
    margin: 100px auto 0px auto;
} */
.fill-form{
    margin: 400px auto 0px auto;
    padding-left: 20px;
    padding-bottom: 20px;
    background-color: rgba(0,0,0,0.5);
    width: 300px;
    font-size: 18px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 2px 2px 15px rgba(0,0,0,0.3);
    color: #fff;
}
